<!doctype html>
<html>
  <head>
      <!-- Title -->
    <title>Socket.IO chat</title>
    <!-- Links to Css, bootstrap and Jquery -->
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="chat_window">
        <div class="top_menu">
            <div class="buttons">
                <div class="button close"></div>
                <div class="button minimize"></div>
                <div class="button maximize"></div></div>
                <div class="title">Chat</div>
            </div>
            <ul id = "messages" class="messages"></ul>
            <div class="bottom_wrapper clearfix">
                <div class="message_input_wrapper">
                    <form action="">
                        <input id="m" class="message_input" placeholder="Escreva sua mensagem aqui..." /></div>
                        <div class="send_message">
                            <div class="icon"></div>
                        <div class="text">Enviar</div>
                    </form>
                </div>
            </div>
        </div>
        <div class="message_template">
            <li class="message">
                <div class="avatar"></div>
                <div class="text_wrapper">
                    <div class="text"></div>
                </div>
            </li>
        </div>
    </div>
    <!-- Scripts -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/style/chat.js"></script>
    <!-- End Scripts -->
  </body>
</html>
