<!doctype html>
<html>
  <head>
      <!-- Title -->
    <title>Chat Insper</title>
    <!-- Links to Css, bootstrap and Jquery -->
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="/style/tabs.css">
    <link rel="stylesheet" type="text/css" href="/style/reset.css"> -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- <script src="/style/modernizr.js"></script> -->
  </head>
  <body ng-app="myApp" ng-controller="AppCtrl" id="body">
    <!-- Body Structure -->
    <div class="list_connected">
        <div class="top_menu">
            <div class="title">People Connected</div>
        </div>
        <br>
        <ul id = "list_connected" class="list-group"></ul>
    </div>
    <div class="chat_window">
        <div class="top_menu">
            <div class="buttons">
                <!-- <div class="button close"></div>
                <div class="button minimize"></div>
                <div class="button maximize"></div> -->
            </div>
                <div class="title">Chat Insper</div>
            </div>
                <ul id = "messages" class="messages"></ul>
            <div class="bottom_wrapper clearfix">
                <div class="message_input_wrapper">
                    <form action="">
                        <input id="m" class="message_input" autocomplete="off" placeholder="Escreva sua mensagem aqui..." /></div>
                        <div class="send_message">
                            <div class="icon"></div>
                        <div class="text">Enviar</div>
                    </form>
                </div>
            </div>
        </div>
        <div class="message_template">
            <li class="message">
                <div class="avatar"></div>
                <div class="text_wrapper">
                    <div class="text"></div>
                </div>
            </li>
        </div>
    </div>
    <!-- End body structure -->
    <!-- Scripts -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <!-- Angular Material Javascript now available via Google CDN; version 1.0.7 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
    <script src="/model/chat.js"></script>
    <!-- <script src="/style/tabs.js"></script> -->
    <!-- End Scripts -->
  </body>
</html>
